:root {
    --Rouge:#e74c3c;
    --gray: #D3D3D3; 
    --white: #FFFFFF;
    --dark-gray:#4B4B4B;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*font-family: Roboto Slab;*/
  }
  
  img {
    width: 100%;
  }

  .lines {
    font-weight: 300;
    color: var(--gray);

  }

  .onemillion {
    padding-left: 15%; /* Ajusta el espacio a la izquierda */
    padding-right: 15%; /* Ajusta el espacio a la derecha */
    margin: auto; /* Centra horizontalmente */
}

.navbar-nav {
    padding-right: 35%; /* Ajusta el espacio a la derecha */
    gap: 35px;
}

.nav-link {
    padding-left: 30px; /* Ajusta el espacio a la izquierda */
    padding-right: 30px; /* Ajusta el espacio a la derecha */
}

.goal, .discover{
    background-image: url(../img/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 99vh; 
}

.button {
    text-align: center;
}

.learn {
    background-color: var(--Rouge);
    border-color: var(--Rouge);
}

.code {
    text-align: center;
}

h1 {
    font-family: Roboto Slab;
}

h2, h3, h5 {
   font-family: Roboto Slab;
   color: var(--Rouge);
}

hr{
    color: var(--Rouge);
}

.person, .pencil, .cash {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: var(--white);
}

i {
    font-size: 4rem;
}

.involved {
    background-color: var(--gray);
}

.title {
    text-align: center;
    padding: 20px;
}

figcaption {
    text-align: center;
    padding-bottom: 20px;
}

.start, .join, .give{
    text-align: center;
}

.learning, .initiative, .support {
    background-color: var(--white);
    border: var(--dark-gray);
    color: var(--Rouge);
}

.learn:hover {
    background-color: red !important;
    border-color: red !important;
  }

  .learning:hover {
    background-color: red !important;
    border-color: red !important;
}

.initiative:hover {
    background-color: red !important;
    border-color: red !important;
}

.support:hover {
    background-color: red !important;
    border-color: red !important;
}

footer {
    background-color: var(--Rouge);
}

.arrow {
    color: var(--Rouge);
}

.general{
    background-color: var(--gray);
}
/* team */
.donnees {
    background: white;
    padding: 0;
    margin: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profil {
    width: 23%;
    height: 400px;
    padding: 0;
    margin: 25px;
}

.change {
    background:url(/assets/img/joanne.jpg); /* Cambia el color de fondo a rojo */
}

#profil1{
    background: url(../img/joanne.jpg) center/cover;
}
#profil2{
    background: url(../img/gaston.jpg) center/cover;
}
#profil3{
    background: url(../img/manuel.jpg) center/cover;
}
#profil4{
    background: url(../img/tracy.jpg) center/cover;
}